body {
    
    background: #F9FCFC;
    margin: 0;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.header {
    background-color: #214753;
    height: 7vh
}

.logo {
    font-family: "freight-sans-pro", "FreightSans";
    font-size: 40px;
    color: #d0dbde;
}

.query {
    margin-top: 10px;
    margin-left: 10px;
}
.message {
    margin: 10px;
    color: #385A65;
}

.sender {
    font-weight: bold;
}

.sender, .text {
    display: inline-block;
}

.entry {
    margin: 15px;
}

.date {
    font-weight: bold;
}

.id {
    float: right;
}

.Verbose {
    width: 110px;
    color: blueviolet;
}

.Information {
    width: 110px;
    color: green;
}

.Warning {
    width: 110px;
    color: orange;
}

.Error {
    width: 110px;
    color: lightcoral;
}

.Fatal {
    width: 110px;
    color: red;
}

.message-detail {
    border: 2px dashed #666;
    margin: 20px;
    padding: 10px;
    font-family: "Arial";
}

#jsonStr, #regeStr {
    border: 2px dashed #666;
    margin: 20px;
    padding: 10px;
    font-family: "Arial";
}
